# __ETL project outline:__

We have an interesting dataset prepared by washington post on US Police killings. This is available at kaggle.com. The dataset captures all incidents of Police killings during 2015-2017. It has all relevant information of each incident including the name of city and state where the incident occured.

Also available are the US census files capturing city wise data for:

-High school pass percentage

-Median Income

-Poverty rate

-Racial split of population in 5 categories


The objective of this project is to carry out ETL process to upload the data in a database structure. Following is the  outline of process followed:

__EXTRACT PHASE__

(1) Read all csv files into pandas dataframe. Some files are not in utf-8 encoding, we would need to handle this.


__TRANSFORM PHASE__

(1) Analyze the data types and convert to an appropriate dtype wherever required. Typically converting strings to numeric/datetime.

(2) Check for missing values information and decide for a strategy to handle. Ideally, we would not like to drop any data and fill -in the missing data with appropriate estimates. However if the % of missing values are too high and any approximation to fillin would impact the quality of subsequent analysis, we may decide to drop.

(3) Join of above dataframes (or after loading to SQL/NoSQL) would need a common key. 'city' name is the only common key amongst all data files that is unique for all records. Hence we would need to ensure that city name format is consistent across Washington Post database and US census database. This might need some work on the data.

(4) Even after preprocessing the 'city' name, there would still be some not matching entries. We decided to create new rows in census data for such cities.

(5) For new records in census database, we would also need to fill-in appropriate values other than city and state name. 

__LOAD PHASE__

(1) Decide Schema for the database

(2) Create database and tables structure using SQLAlchemy

(3) Insert records in the tables

In [1]:
# setting jupyter notebook to show all results from a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## __1. EXTRACT PHASE__

In [2]:
import pandas as pd
import numpy as np

### 1.(a) All 5 csv files are downloaded into `../input_data` folder

In [3]:
# read police killing data downloaded from kaggle
try:
    dfk =pd.read_csv('../input_data/PoliceKillingsUS.csv')
    dfk.head()
    
except UnicodeDecodeError:
    print("UnicodeDecodeError: can't decode character encoding..")

except:
    print ("Encounter error other that characted decoding..please check the csv file again")

UnicodeDecodeError: can't decode character encoding..

In [4]:
#chardet library can be used to guess the encoding from a few popular formats (though not foolproof)
# it read and analyze the initial chunk of bytes from the file to guess the character encoding
import chardet

with open("../input_data/PoliceKillingsUS.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))

# check what the character encoding might be
print(result)

{'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}

### 1. (b) We will automate the  character encoding function using `chardet`

In [5]:
# defining a function to read csv file into pandas dataframe after guessing the encoding
# parameters to be passed to the function - csv file name with path relative to current directory
# if successful, function returns a pandas dataframe. Or else it will return 'None'

def csv_to_pd_guess_encoding(csv_file):
    import chardet
    try:
        df_temp =pd.read_csv(csv_file)
        print('read with standard character encoding utf-8')
        return(df_temp)
    except UnicodeDecodeError:
        print("could not read csv file with utf-8 encoding..trying to detect correct encoding type")
        read = False
        for i in range (4,7): # loop to try detecting encoding reading first 10000 - 1000000 bytes
            with open(csv_file, 'rb') as rawdata:
                result = chardet.detect(rawdata.read(10**i))
                encoding_guess = result['encoding']
            try:
                df_temp =pd.read_csv(csv_file, encoding = encoding_guess)
                print(f"detected character encoding {encoding_guess}")
                read = True
                break
            except:
                print(f"could'nt guess after reading of {10**i} bytes")
        if read == False:
            print('could not detect the character encoding..please try something else')
            return None
        else:
            print(f"successfully read the file in pandas after checking {10**i}  bytes")
            return (df_temp)
    except:
        print(f"ERROR in reading file- perhaps not a valid csv file")
        return None

In [6]:
# read all files downloaded from kaggle using above function
dfk = csv_to_pd_guess_encoding('../input_data/PoliceKillingsUS.csv')
df_income = csv_to_pd_guess_encoding('../input_data/MedianHouseholdIncome2015.csv')
df_poverty = csv_to_pd_guess_encoding('../input_data/PercentagePeopleBelowPovertyLevel.csv')
df_school = csv_to_pd_guess_encoding('../input_data/PercentOver25CompletedHighSchool.csv')
df_race = csv_to_pd_guess_encoding('../input_data/ShareRaceByCity.csv')

could not read csv file with utf-8 encoding..trying to detect correct encoding type
could'nt guess after reading of 10000 bytes
detected character encoding Windows-1252
successfully read the file in pandas after checking 100000  bytes
could not read csv file with utf-8 encoding..trying to detect correct encoding type
could'nt guess after reading of 10000 bytes
could'nt guess after reading of 100000 bytes
detected character encoding ISO-8859-1
successfully read the file in pandas after checking 1000000  bytes
could not read csv file with utf-8 encoding..trying to detect correct encoding type
could'nt guess after reading of 10000 bytes
could'nt guess after reading of 100000 bytes
detected character encoding Windows-1252
successfully read the file in pandas after checking 1000000  bytes
could not read csv file with utf-8 encoding..trying to detect correct encoding type
could'nt guess after reading of 10000 bytes
could'nt guess after reading of 100000 bytes
detected character encoding Windows-1252
successfully read the file in pandas after checking 1000000  bytes
read with standard character encoding utf-8

### 1.(c) write back as csv files with utf-8 encoding, and read into pandas again

In [7]:
# write csv in utf-8 and read back in pandas
dfk.to_csv("../saved_data/csvk.csv", encoding = 'utf-8', index = False)
df_school.to_csv("../saved_data/csvs.csv", encoding = 'utf-8',  index = False)
df_income.to_csv("../saved_data/csvi.csv", encoding = 'utf-8',  index = False)
df_poverty.to_csv("../saved_data/csvp.csv", encoding = 'utf-8',  index = False)
df_race.to_csv("../saved_data/csvr.csv", encoding = 'utf-8',  index = False)

dfk = pd.read_csv("../saved_data/csvk.csv")
df_income = pd.read_csv("../saved_data/csvi.csv")
df_poverty = pd.read_csv("../saved_data/csvp.csv")
df_school = pd.read_csv("../saved_data/csvs.csv")
df_race = pd.read_csv("../saved_data/csvr.csv")

In [8]:
# check the dataframe information
dfk.info()
df_income.info()
df_poverty.info()
df_school.info()
df_race.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2535 entries, 0 to 2534
Data columns (total 14 columns):
id                         2535 non-null int64
name                       2535 non-null object
date                       2535 non-null object
manner_of_death            2535 non-null object
armed                      2526 non-null object
age                        2458 non-null float64
gender                     2535 non-null object
race                       2340 non-null object
city                       2535 non-null object
state                      2535 non-null object
signs_of_mental_illness    2535 non-null bool
threat_level               2535 non-null object
flee                       2470 non-null object
body_camera                2535 non-null bool
dtypes: bool(2), float64(1), int64(1), object(10)
memory usage: 242.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29322 entries, 0 to 29321
Data columns (total 3 columns):
Geographic Area    29322 non-null object
City               29322 non-null object
Median Income      29271 non-null object
dtypes: object(3)
memory usage: 687.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29329 entries, 0 to 29328
Data columns (total 3 columns):
Geographic Area    29329 non-null object
City               29329 non-null object
poverty_rate       29329 non-null object
dtypes: object(3)
memory usage: 687.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29329 entries, 0 to 29328
Data columns (total 3 columns):
Geographic Area         29329 non-null object
City                    29329 non-null object
percent_completed_hs    29329 non-null object
dtypes: object(3)
memory usage: 687.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29268 entries, 0 to 29267
Data columns (total 7 columns):
Geographic area          29268 non-null object
City                     29268 non-null object
share_white              29268 non-null object
share_black              29268 non-null object
share_native_american    29268 non-null object
share_asian              29268 non-null object
share_hispanic           29268 non-null object
dtypes: object(7)
memory usage: 1.6+ MB

In [9]:
# check the dataframe record
dfk.head(1)
df_income.head(1)
df_poverty.head(1)
df_school.head(1)
df_race.head(1)

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False

  Geographic Area        City Median Income
0              AL  Abanda CDP         11207

  Geographic Area        City poverty_rate
0              AL  Abanda CDP         78.8

  Geographic Area        City percent_completed_hs
0              AL  Abanda CDP                 21.2

,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic
0,AL,Abanda CDP,67.2,30.2,0,0,1.6

### 1.(d) Observation on the extracted data

#### Observations (column names and dtypes - conversion required to float/datetime):
    1. 'Median income' column in income file is of dtype 'object'(string), we should convert it to integer
    2. 'share_xx' columns in race file is of dtype 'object'(string), we should convert it to float
    3. 'poverty_rate' column in poverty file is of dtype 'object'(string), we should convert it to float
    4. 'percent_completed_hs' column in income file is of dtype 'object'(string), we should convert it to float
    5. for consistency, let us change column names 'Median income' to 'median_income' and 'Geographic Area'/'Geographic to 'state'
    
#### Observations (need to changing dtype to categorical)
    1. 'A few columns in police killing database can be better utilized in analysis by converting to 'Categorical'
        race
        flee
        manner_of_death
        gender
        threat_level

    
#### Observations (missing data):
    1. 'age', 'race', 'armed' and 'flee' columns in main file have some Null entries.

## 2. TRANSFORM PHASE

### 2.(a) Renaming Columns

In [10]:
# renaming columns as above
df_income=df_income.rename(columns = {'Geographic Area':'state', 'Median Income':'median_income'})
df_poverty=df_poverty.rename(columns = {'Geographic Area':'state'})
df_school=df_school.rename(columns = {'Geographic Area':'state'})
df_race=df_race.rename(columns = {'Geographic area':'state'})
dfk.head(1)
df_income.head(1)
df_poverty.head(1)
df_school.head(1)
df_race.head(1)

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False

  state        City median_income
0    AL  Abanda CDP         11207

  state        City poverty_rate
0    AL  Abanda CDP         78.8

  state        City percent_completed_hs
0    AL  Abanda CDP                 21.2

,state,City,share_white,share_black,share_native_american,share_asian,share_hispanic
0,AL,Abanda CDP,67.2,30.2,0,0,1.6

### 2.(b) changing dtypes to float

In [11]:
# changing dypes for race file as above

#df_race.share_white = df_race.share_white.astype(float, errors = 'raise') # check error -could not convert string to float: '(X)'
df_race.share_white = pd.to_numeric(df_race.share_white, errors='coerce')# this gives an option to coerce conversion, transform the non-numeric values into NaN
df_race.share_black = pd.to_numeric(df_race.share_black, errors='coerce')
df_race.share_native_american = pd.to_numeric(df_race.share_native_american, errors='coerce')
df_race.share_asian = pd.to_numeric(df_race.share_asian, errors='coerce')
df_race.share_hispanic = pd.to_numeric(df_race.share_hispanic, errors='coerce')
df_race.dtypes

state                     object
City                      object
share_white              float64
share_black              float64
share_native_american    float64
share_asian              float64
share_hispanic           float64
dtype: object

In [12]:
# changing dypes for poverty, income and school file as above
df_poverty.poverty_rate = pd.to_numeric(df_poverty.poverty_rate, errors='coerce')
df_poverty.dtypes

df_school.percent_completed_hs = pd.to_numeric(df_school.percent_completed_hs, errors='coerce')
df_school.dtypes

df_income.median_income = pd.to_numeric(df_income.median_income, errors='coerce')
df_school.dtypes

state            object
City             object
poverty_rate    float64
dtype: object

state                    object
City                     object
percent_completed_hs    float64
dtype: object

state                    object
City                     object
percent_completed_hs    float64
dtype: object

### 2.(c) dtype conversion to categorical

In [13]:
# a few columns in police killing database can be better utilized by converting to 'Categorical'
# checking which one can be converted to categorical right away
dfk['race'].unique()  # need to subsequently handle 'nan' in approx 200 records 
dfk['flee'].unique() #  need to subsequently handle 65 'nan' records 
dfk['manner_of_death'].unique() # can be converted right away
dfk['gender'].unique() # can be converted right away
dfk['threat_level'].unique() # can be converted right away
dfk.info()

array(['A', 'W', 'H', 'B', 'O', nan, 'N'], dtype=object)

array(['Not fleeing', 'Car', 'Foot', 'Other', nan], dtype=object)

array(['shot', 'shot and Tasered'], dtype=object)

array(['M', 'F'], dtype=object)

array(['attack', 'other', 'undetermined'], dtype=object)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2535 entries, 0 to 2534
Data columns (total 14 columns):
id                         2535 non-null int64
name                       2535 non-null object
date                       2535 non-null object
manner_of_death            2535 non-null object
armed                      2526 non-null object
age                        2458 non-null float64
gender                     2535 non-null object
race                       2340 non-null object
city                       2535 non-null object
state                      2535 non-null object
signs_of_mental_illness    2535 non-null bool
threat_level               2535 non-null object
flee                       2470 non-null object
body_camera                2535 non-null bool
dtypes: bool(2), float64(1), int64(1), object(10)
memory usage: 242.7+ KB

In [14]:
#changing 'year' in dfk file to datetime'
dfk['date'] = pd.to_datetime(dfk['date'])

#changing 'manner_of_death', 'gender', and 'threat_level' to categorical'
dfk['manner_of_death'] = pd.Categorical(dfk['manner_of_death'])
dfk['gender'] = pd.Categorical(dfk['gender'])
dfk['threat_level'] = pd.Categorical(dfk['threat_level'])
#dfk['flee'] = pd.Categorical(dfk['flee']) # will convert after filling null values
#dfk['race'] = pd.Categorical(dfk['race']) # will convert after filling null values
dfk.dtypes

id                                  int64
name                               object
date                       datetime64[ns]
manner_of_death                  category
armed                              object
age                               float64
gender                           category
race                               object
city                               object
state                              object
signs_of_mental_illness              bool
threat_level                     category
flee                               object
body_camera                          bool
dtype: object

## 2.(d) This section is WIP.....
### (handling missing values in columns 'race', 'age' and 'flee')

In [15]:
## -----WIP for filling mising values

In [16]:
dfk.race.unique()
missed_race = dfk.name.loc[dfk.race.isnull()].tolist()
missed_fn = [name.split(" ",1)[0] for name in missed_race] # split full name on whitespace once and pick up first word
missed_ln = [name.rsplit(" ", 1)[-1] for name in missed_race] # reverse split full name on whitespace once and pick up first word
missed_names = [name for name in missed_race]
#full names
missed_race[0:5]
# first names
missed_fn[0:5]
#last names
missed_ln[0:5]

array(['A', 'W', 'H', 'B', 'O', nan, 'N'], dtype=object)

['William Campbell',
 'John Marcell Allen',
 'Mark Smith',
 'Joseph Roy',
 'James Anthony Morris']

['William', 'John', 'Mark', 'Joseph', 'James']

['Campbell', 'Allen', 'Smith', 'Roy', 'Morris']

#### `NamSor` is an online platform that provides service to predict a person's race/gender etc using first name and last name. One need to register for the service online and get API key. upto 500/1000 queries per month are free.

`base_url = "https://v2.namsor.com/NamSorAPIv2"
 endpoint = "/api2/json/usraceEthnicity/{firstName}/{lastName}"`
 
 Tried to make API call using requests, but somehow did'nt work out. their curl script  though works fine when tried in bash.
 "curl -X GET "https://v2.namsor.com/NamSorAPIv2/api2/json/usRaceEthnicity/{firstName}/{lastName}" -H  "accept: application/json" -H  "X-API-KEY: {namsor_api}"

In [17]:
#### python code to run curl scripts from within python

# import subprocess
# import json
# from config import namsor_api  # Have config.py file with NamSor API Key stored as namsor_api
# def getRaceEthnicity(firstName, lastName):
#     bash_command = f'curl -X GET "https://v2.namsor.com/NamSorAPIv2/api2/json/usRaceEthnicity/{firstName}/{lastName}" -H  "accept: application/json" -H  "X-API-KEY: {namsor_api}"'
#     subprocess.Popen(bash_command)
#     result = subprocess.check_output(['bash','-c', bash_command])
#     s = str(result)
#     s=s.replace("b\'", '')
#     s=s.replace("\'", '')

#     result_json = json.loads(s)
#     return(result_json)

In [18]:
#### collecting guessed race information from NamSor and saving in a dictionary

# race_dict = {'firstName':[], 'lastName':[], 'raceEthnicityAlt':[],'raceEthnicity':[],'score':[]} # saving the results of curl calls
# for i in range(len(missed_fn)):
#     firstName = missed_fn[i]
#     lastName = missed_ln[i]
#     race = getRaceEthnicity(firstName, lastName)
#     race_dict['firstName'].append(race['firstName'])
#     race_dict['lastName'].append(race['lastName'])
#     race_dict['raceEthnicityAlt'].append(race['raceEthnicityAlt'])
#     race_dict['raceEthnicity'].append(race['raceEthnicity'])
#     race_dict['score'].append(race['score'])

In [19]:
# guessed_race_df = pd.DataFrame(race_dict) # saving results to a dataframe
# guessed_race_df.head()
# guessed_race_df.info()

In [20]:
##### saving guessed race results to csv for future extraction without making api calls

#guessed_race_df.to_csv("../saved_data/guessed_race.csv", encoding = 'utf-8',  index = False) # saving to csv for reuse without making api calls

In [21]:
# reading back from saved csv file
guessed_race_df = pd.read_csv("../saved_data/guessed_race.csv") # reading back from csv
guessed_race_df.tail()

    firstName  lastName raceEthnicityAlt raceEthnicity     score
190   Matthew    Folden             B_NL          W_NL  5.711153
191     Brian   Skinner             B_NL          W_NL  2.358242
192    Rodney    Jacobs             W_NL          B_NL  0.859655
193        TK        TK             B_NL             A  0.998251
194    Dennis  Robinson             W_NL          B_NL  0.554764

### interpreting NamSor response fields
__raceEthnicity__    -Most likely US race/ethnicity

__raceEthnicityAlt__ -Second most likely US race/ethnicity

__score__            -float

### __<em>results as per US Census taxonomy<em>__

`W_NL (white, non latino)`

`HL (hispano latino) `

`A (asian, non latino) `

`B_NL (black, non latino)`

In [22]:
guessed_race_df['name'] = pd.Series(missed_names)
guessed_race_df.head()
guessed_race_df.raceEthnicity.unique()

,firstName,lastName,raceEthnicityAlt,raceEthnicity,score,name
0,William,Campbell,B_NL,W_NL,0.869338,William Campbell
1,John,Allen,B_NL,W_NL,1.378876,John Marcell Allen
2,Mark,Smith,B_NL,W_NL,1.257422,Mark Smith
3,Joseph,Roy,B_NL,W_NL,1.691943,Joseph Roy
4,James,Morris,B_NL,W_NL,0.705590,James Anthony Morris

array(['W_NL', 'B_NL', 'A', 'HL'], dtype=object)

In [23]:
di = {'W_NL':'W', 'HL':'H', 'A':'A', 'B_NL':'B'} # mapping values from NamSor to our dfk format
guessed_race_df['raceEthnicity'].replace(di, inplace=True) # replacing raceEthnicity values in dfk format

guessed_race_df.raceEthnicity.unique() # check unique values
dfk.race.unique()

array(['W', 'B', 'A', 'H'], dtype=object)

array(['A', 'W', 'H', 'B', 'O', nan, 'N'], dtype=object)

In [24]:
#dfk_copy = dfk.copy()

missed_names = guessed_race_df.name.tolist()
missed_races = guessed_race_df.raceEthnicity.tolist()
for i in range (len(missed_names)):
    
    idx = dfk.loc[dfk.name == missed_names[i]].index[0]
    print(missed_names[i], idx)
    dfk.race[idx] = missed_races[i]
dfk.race.isnull().sum()

William Campbell 59
John Marcell Allen 241
Mark Smith 266
Joseph Roy 340
James Anthony Morris 398
James Johnson 417

C:\Users\avise\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

Raymond  Phillips 426
Brian Johnson 470
Charles Crandall 518
Troy Francis 537
Timothy Johnson 560
David  Cook 569
Roderick Burr 592
Robert Patrick Quinn 598
Bruce Santino 687
Donaven Kyle Anderson 723
James Joseph Byrd 749
Donald Miller II 756
Margaret Wagner 759
Michael Donald Clark 774
Jason Foreman 784
John Tozzi 802
Sammy Monroe Echols 924
TK TK 928
Efrain Villanueva 936
Charles Reynolds 967
Gregory Sanders 973
John Randell Veach 989
Jeffry Graves 1071
Michael Laniado 1090
John Alan Chamberlain 1164
Michael Mallet 1207
Matthew Tucker 1329
Joseph Napoli 1343
Leslie Goletz 1376
TK Tk 1382
Tk Tk 1385
TK TK 928
Daniel Jonathan Shaham 1404
TK TK 928
John Anderson 1442
Anthony Ford 1447
Josh Herrera 1461
William Ferguson 1470
TK TK 928
Richard Swihart 1561
David Michael Moya 1575
Jerry Lee Jackson 1625
Terry Salazar 1630
James Robert Richards 1636
Justin Baker 1637
Randall Rodick 1648
Jeremiah Richard Ramirez 1654
Bernard Cottrell 1660
Eugene Craig 1675
Thomas P. Mone 1682
Dylan Rogers 1739
Dennis Hunt 1743
Rex Vance Wilson 1752
Daniel Richard Murphy 1758
Anthony Garcia 1769
Michael Dale Vance Jr. 1794
Dennis Kirk 1802
Rita King 1803
Edward Lowell Hills 1809
TK TK 928
William Ray Score 1828
Jonathan M. Young 1831
Michael Cookson 1836
Gabriel Parker 1842
Steve Dwayne Vananda 1846
Don Fitzgerald White 1859
Isreal Flores 1882
Steven Garrett Ward 1893
TK TK 928
Jeremiah N. Anderson 1911
Nick Hamilton 1919
TK TK 928
Ian Shea King 1922
William Newman 1924
Benjamin Ortiz 1926
TK TK 928
Stanley Eversol 1932
TK TK 928
TK TK 928
Joseph Garcia 1940
Dustin Kirk 1942
Christopher Blake Tucker 1946
James L. Rich 1947
TK TK 928
Dustin Selby 1950
Val Thomas 2039
TK TK 928
TK TK 928
Jonathon  Daniel Simmons 2106
Kenneth Robertson 2128
Jose Olivares 2145
TK TK 928
TK Tk 1382
Marcus Williams 2222
William Baker 2238
TK TK 928
Thomas Gezotis 2244
TK TK 928
Daezion Turner 2267
TK TK 928
Andrew James Lucero 2285
TK TK 928
Lucille Espinosa 2297
TK TK 928
TK TK 928
Emmanuel Ibarra 2327
TK TK 928
Jamie J. Robinson 2350
Eduardo Valencia 2353
TK TK 928
Francis de la Cruz 2356
Larry Warren Kipps 2359
David W. Hamilton 2378
TK TK 928
Hector Cisneros Soria 2408
Jamie Dougan 2410
TK TK 928
Joseph Paul Hogan 2413
TK TK 928
TK TK 928
Daniel Francisco Valenzuela 2424
Santino Trevino 2426
Christopher Michael Murray 2429
TK TK 928
Rip Huntington 2436
Jason Magana Herrera 2437
TK TK 928
TK TK 928
Joel Gatu Muturi 2442
Jose Guillermo Flores Colon 2443
TK TK 928
Chet Knuppel 2445
Jeremy Holmes 2449
TK TK 928
Daniel Craven 2451
TK TK 928
TK TK 928
Christopher Henry Cashell 2454
TK TK 928
Miguel Gonzales 2456
Cody Ray McCray 2458
Donald Martin 2459
Douglas West 2460
Edwin "Beanie" Esker 2463
Jesus Cervantes 2467
Dejuan Guillory 2468
TK TK 928
Kareem Ali Nadir Jones 2471
Michael Anthony Rude 2472
TK TK 928
Ryan A. Probst 2475
Robert Yeiser 2476
Brayant Alvarez 2477
Edward Taylor 2478
Codey Ethan Mitchell 2479
Gregory Shawn Thrower 2480
Caleb Edward Blaylock 2482
Steve Scott 2483
TK TK 928
Dorsey Glenn Taulbee Jr. 2486
James Gerald Davis 2487
TK TK 928
Stephen Steele 2490
Pedro Rubio 2491
Ramiro Bravo Ramirez 2492
Gerber Dieguez 2493
TK TK 928
TK TK 928
India N. Nelson 2497
Ernesto Sedillo 2498
Eric Wesley Clark 2499
Robert Earl Vaughan 2502
Mark Allan Smith 2503
TK TK 928
Anthony Benavidez 2505
Farhad Jabbari 2506
Yahir Breito 2509
Vicente Velasquez 2510
Moises Balladares 2518
TK TK 928
TK TK 928
Susan Teel 2522
Jerauld Phillip Hammond II 2524
Sergio Velasco-Martinez 2526
Matthew Folden 2527
Brian J. Skinner 2529
Rodney E. Jacobs 2530
TK TK 928
Dennis W. Robinson 2532

44

In [25]:
## we still have a few records in dfk file with name as 'TK TK' , first Null vale us relaced by above item as 'A' let us replace NaN race value associated with them to 'O' -Other
dfk.loc[dfk.name == 'TK TK']
dfk.loc[398]
dfk.loc[dfk.race.isnull()]

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
928,1074,TK TK,2015-10-12,shot,gun,NaN,M,A,Hemet,CA,False,attack,Not fleeing,False
1397,1584,TK TK,2016-01-06,shot,gun,NaN,M,NaN,Phoenix,AZ,False,attack,Not fleeing,False
1419,1615,TK TK,2016-09-06,shot,baton,NaN,M,NaN,Somerton,AZ,False,attack,Not fleeing,False
1500,1685,TK TK,2016-04-07,shot,knife,NaN,M,NaN,Rosser,TX,False,other,Not fleeing,True
1646,1848,TK TK,2016-01-09,shot and Tasered,pipe,NaN,M,H,Huntington Park,CA,False,other,Not fleeing,False
1825,2037,TK TK,2016-11-11,shot and Tasered,NaN,NaN,M,NaN,East Point,GA,False,undetermined,NaN,False
1894,2110,TK TK,2016-08-12,shot,gun,NaN,M,NaN,Allen,TX,False,attack,Not fleeing,False
1921,2141,TK TK,2016-12-20,shot,knife,NaN,M,NaN,Brawley,CA,True,other,Not fleeing,False
1927,2154,TK TK,2016-12-21,shot,knife,NaN,M,NaN,Stockton,CA,False,undetermined,Not fleeing,False
1933,2168,TK TK,2016-12-23,shot,vehicle,NaN,M,NaN,El Monte,CA,False,other,Car,False
1936,2164,TK TK,2016-12-24,shot,gun,NaN,M,NaN,Gadsden,AL,False,attack,Foot,False
1949,2182,TK TK,2016-12-30,shot,gun,NaN,M,NaN,Pensacola,FL,False,attack,Not fleeing,False
2045,2278,TK TK,2017-01-31,shot and Tasered,knife,NaN,M,B,Hollywood,CA,True,attack,Not fleeing,False
2078,2319,TK TK,2017-09-02,shot,undetermined,NaN,M,NaN,Crownpoint,NM,False,undetermined,NaN,False
2091,2328,TK TK,2017-12-02,shot,vehicle,NaN,M,NaN,Terrell,TX,False,other,Other,False
2161,2408,TK TK,2017-08-03,shot,knife,NaN,M,NaN,Riverside,CA,False,other,Not fleeing,False
2240,2494,TK TK,2017-10-04,shot,gun,39.0,M,NaN,Houston,TX,False,other,Foot,True
2247,2505,TK TK,2017-04-14,shot,gun,NaN,M,NaN,Paterson,NJ,True,attack,Not fleeing,False
2271,2528,TK TK,2017-04-25,shot,gun,24.0,M,NaN,Newark,NJ,False,other,Car,False
2292,2552,TK TK,2017-03-05,shot,knife,NaN,M,NaN,San Jose,CA,True,attack,Not fleeing,False
2307,2565,TK TK,2017-09-05,shot,gun,NaN,M,NaN,Westminster,CO,False,attack,Not fleeing,False
2314,2573,TK TK,2017-11-05,shot,gun,NaN,M,H,Arlington,TX,False,attack,Not fleeing,False
2326,2584,TK TK,2017-05-15,shot,undetermined,NaN,M,NaN,Long Beach,CA,False,attack,Other,False
2330,2587,TK TK,2017-05-16,shot,knife,25.0,M,NaN,Tempe,AZ,False,other,NaN,False
2347,2606,TK TK,2017-05-24,shot,gun,NaN,M,H,Los Angeles,CA,False,attack,Not fleeing,False
2354,2608,TK TK,2017-05-28,shot,gun,NaN,M,NaN,Miami,FL,False,attack,Car,False
2391,2654,TK TK,2017-10-06,shot,undetermined,NaN,M,NaN,Auburn,WA,False,undetermined,Car,False
2412,2673,TK TK,2017-06-17,shot,vehicle,28.0,F,NaN,Montebello,CA,False,other,Not fleeing,False
2418,2683,TK TK,2017-06-20,shot and Tasered,knife,NaN,M,NaN,Las Vegas,NV,False,other,Not fleeing,False
2419,2684,TK TK,2017-06-20,shot,toy weapon,NaN,M,NaN,South Gate,CA,False,attack,Other,False
2435,2698,TK TK,2017-06-25,shot,gun,NaN,M,NaN,Las Vegas,NV,False,attack,Not fleeing,False
2438,2716,TK TK,2017-06-28,shot,gun,NaN,M,NaN,Los Angeles,CA,True,attack,Not fleeing,True
2441,2720,TK TK,2017-06-29,shot,undetermined,NaN,M,NaN,Burbank,CA,False,undetermined,Not fleeing,False
2444,2721,TK TK,2017-06-30,shot,gun,NaN,F,NaN,Denver,CO,False,attack,Car,False
2450,2728,TK TK,2017-02-07,shot,gun,NaN,M,NaN,Norfolk,VA,False,attack,Not fleeing,False
2452,2732,TK TK,2017-03-07,shot,gun,NaN,M,NaN,Fishers,IN,True,attack,Not fleeing,False
2453,2736,TK TK,2017-03-07,shot,gun,NaN,M,NaN,Portland,OR,False,attack,Foot,False
2455,2735,TK TK,2017-04-07,shot,gun,NaN,M,NaN,Federal Heights,CO,False,undetermined,Not fleeing,False
2465,2748,TK TK,2017-05-07,shot,undetermined,24.0,M,H,Vista,CA,False,undetermined,Foot,False
2470,2752,TK TK,2017-07-07,shot,gun,NaN,M,NaN,Huntsville,AL,False,attack,Car,False
2473,2758,TK TK,2017-08-07,shot,knife,NaN,M,NaN,Crescent City,FL,True,other,Not fleeing,False
2485,2770,TK TK,2017-11-07,shot,gun,NaN,M,NaN,Golden Valley,AZ,False,attack,Foot,False
2488,2773,TK TK,2017-12-07,shot,blunt object,NaN,M,NaN,Grover Beach,CA,False,other,Not fleeing,False
2495,2780,TK TK,2017-07-15,shot,gun,23.0,M,NaN,Moreno Valley,CA,True,other,Not fleeing,False
2496,2781,TK TK,2017-07-15,shot,gun,NaN,M,NaN,Arlington,TX,False,attack,Foot,False
2504,2789,TK TK,2017-07-19,shot,gun,24.0,M,NaN,Fair Oaks,CA,False,attack,Not fleeing,False
2520,2804,TK TK,2017-07-26,shot,gun,35.0,M,NaN,Phoenix,AZ,False,attack,Other,False
2521,2806,TK TK,2017-07-26,shot,gun,NaN,M,NaN,San Antonio,TX,False,attack,Not fleeing,False
2531,2813,TK TK,2017-07-28,shot,vehicle,NaN,M,NaN,Albuquerque,NM,False,attack,Car,False

id                                          503
name                       James Anthony Morris
date                        2015-05-31 00:00:00
manner_of_death                            shot
armed                                       gun
age                                          40
gender                                        M
race                                          W
city                                    Medford
state                                        OR
signs_of_mental_illness                    True
threat_level                             attack
flee                                Not fleeing
body_camera                               False
Name: 398, dtype: object

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
1397,1584,TK TK,2016-01-06,shot,gun,NaN,M,NaN,Phoenix,AZ,False,attack,Not fleeing,False
1419,1615,TK TK,2016-09-06,shot,baton,NaN,M,NaN,Somerton,AZ,False,attack,Not fleeing,False
1500,1685,TK TK,2016-04-07,shot,knife,NaN,M,NaN,Rosser,TX,False,other,Not fleeing,True
1825,2037,TK TK,2016-11-11,shot and Tasered,NaN,NaN,M,NaN,East Point,GA,False,undetermined,NaN,False
1894,2110,TK TK,2016-08-12,shot,gun,NaN,M,NaN,Allen,TX,False,attack,Not fleeing,False
1921,2141,TK TK,2016-12-20,shot,knife,NaN,M,NaN,Brawley,CA,True,other,Not fleeing,False
1927,2154,TK TK,2016-12-21,shot,knife,NaN,M,NaN,Stockton,CA,False,undetermined,Not fleeing,False
1933,2168,TK TK,2016-12-23,shot,vehicle,NaN,M,NaN,El Monte,CA,False,other,Car,False
1936,2164,TK TK,2016-12-24,shot,gun,NaN,M,NaN,Gadsden,AL,False,attack,Foot,False
1949,2182,TK TK,2016-12-30,shot,gun,NaN,M,NaN,Pensacola,FL,False,attack,Not fleeing,False
2078,2319,TK TK,2017-09-02,shot,undetermined,NaN,M,NaN,Crownpoint,NM,False,undetermined,NaN,False
2091,2328,TK TK,2017-12-02,shot,vehicle,NaN,M,NaN,Terrell,TX,False,other,Other,False
2161,2408,TK TK,2017-08-03,shot,knife,NaN,M,NaN,Riverside,CA,False,other,Not fleeing,False
2195,2445,TK Tk,2017-03-19,shot,knife,NaN,M,NaN,Desert Edge,CA,False,attack,Not fleeing,False
2240,2494,TK TK,2017-10-04,shot,gun,39.0,M,NaN,Houston,TX,False,other,Foot,True
2247,2505,TK TK,2017-04-14,shot,gun,NaN,M,NaN,Paterson,NJ,True,attack,Not fleeing,False
2271,2528,TK TK,2017-04-25,shot,gun,24.0,M,NaN,Newark,NJ,False,other,Car,False
2292,2552,TK TK,2017-03-05,shot,knife,NaN,M,NaN,San Jose,CA,True,attack,Not fleeing,False
2307,2565,TK TK,2017-09-05,shot,gun,NaN,M,NaN,Westminster,CO,False,attack,Not fleeing,False
2326,2584,TK TK,2017-05-15,shot,undetermined,NaN,M,NaN,Long Beach,CA,False,attack,Other,False
2330,2587,TK TK,2017-05-16,shot,knife,25.0,M,NaN,Tempe,AZ,False,other,NaN,False
2354,2608,TK TK,2017-05-28,shot,gun,NaN,M,NaN,Miami,FL,False,attack,Car,False
2391,2654,TK TK,2017-10-06,shot,undetermined,NaN,M,NaN,Auburn,WA,False,undetermined,Car,False
2412,2673,TK TK,2017-06-17,shot,vehicle,28.0,F,NaN,Montebello,CA,False,other,Not fleeing,False
2418,2683,TK TK,2017-06-20,shot and Tasered,knife,NaN,M,NaN,Las Vegas,NV,False,other,Not fleeing,False
2419,2684,TK TK,2017-06-20,shot,toy weapon,NaN,M,NaN,South Gate,CA,False,attack,Other,False
2435,2698,TK TK,2017-06-25,shot,gun,NaN,M,NaN,Las Vegas,NV,False,attack,Not fleeing,False
2438,2716,TK TK,2017-06-28,shot,gun,NaN,M,NaN,Los Angeles,CA,True,attack,Not fleeing,True
2441,2720,TK TK,2017-06-29,shot,undetermined,NaN,M,NaN,Burbank,CA,False,undetermined,Not fleeing,False
2444,2721,TK TK,2017-06-30,shot,gun,NaN,F,NaN,Denver,CO,False,attack,Car,False
2450,2728,TK TK,2017-02-07,shot,gun,NaN,M,NaN,Norfolk,VA,False,attack,Not fleeing,False
2452,2732,TK TK,2017-03-07,shot,gun,NaN,M,NaN,Fishers,IN,True,attack,Not fleeing,False
2453,2736,TK TK,2017-03-07,shot,gun,NaN,M,NaN,Portland,OR,False,attack,Foot,False
2455,2735,TK TK,2017-04-07,shot,gun,NaN,M,NaN,Federal Heights,CO,False,undetermined,Not fleeing,False
2470,2752,TK TK,2017-07-07,shot,gun,NaN,M,NaN,Huntsville,AL,False,attack,Car,False
2473,2758,TK TK,2017-08-07,shot,knife,NaN,M,NaN,Crescent City,FL,True,other,Not fleeing,False
2485,2770,TK TK,2017-11-07,shot,gun,NaN,M,NaN,Golden Valley,AZ,False,attack,Foot,False
2488,2773,TK TK,2017-12-07,shot,blunt object,NaN,M,NaN,Grover Beach,CA,False,other,Not fleeing,False
2495,2780,TK TK,2017-07-15,shot,gun,23.0,M,NaN,Moreno Valley,CA,True,other,Not fleeing,False
2496,2781,TK TK,2017-07-15,shot,gun,NaN,M,NaN,Arlington,TX,False,attack,Foot,False
2504,2789,TK TK,2017-07-19,shot,gun,24.0,M,NaN,Fair Oaks,CA,False,attack,Not fleeing,False
2520,2804,TK TK,2017-07-26,shot,gun,35.0,M,NaN,Phoenix,AZ,False,attack,Other,False
2521,2806,TK TK,2017-07-26,shot,gun,NaN,M,NaN,San Antonio,TX,False,attack,Not fleeing,False
2531,2813,TK TK,2017-07-28,shot,vehicle,NaN,M,NaN,Albuquerque,NM,False,attack,Car,False

In [26]:
TK_nan_idx = dfk.race.loc[dfk.race.isnull()].index.tolist()
TK_nan_idx.append(928)  # adding index of first 'TK TK' record as well
for idx in TK_nan_idx:
    dfk.race[idx] = 'O'
dfk.race.isnull().sum()

C:\Users\avise\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

0

In [27]:
# let us fill the null values for age with mean of all the records for the same state
dfk.age.fillna(dfk.groupby('state').age.transform(np.mean), inplace = True)

In [28]:
# let us fill the null values for flee as mode(max occurances) of all the records
# check the most prevalent value for 'flee' across the dataframe

# first make a series of groupby object with grouping on 'flee'
flee_ser = pd.Series(dfk.groupby(by = 'flee')['flee'].count())

# find max count out of all 'flee' categories
n = flee_ser.max()

# get the name of most prevalent 'flee' category
fillna_flee = flee_ser[flee_ser == n].index[0]
print(f" under 'flee' column, ''{fillna_flee}'' is most prevalent with count of {n} out of total {len(dfk.flee.tolist())} records")

# replace all NaN items in flee column
dfk.flee.fillna(fillna_flee, inplace = True)

 under 'flee' column, ''Not fleeing'' is most prevalent with count of 1695 out of total 2535 records

In [29]:
# replace all NaN entries under 'armed' with most prevalent out of 'armed' values
armed_ser = pd.Series(dfk.groupby(by = 'armed')['armed'].count())
n1 = armed_ser.max()
fillna_armed = armed_ser[armed_ser == n1].index[0]
print(f" under 'armed' column, {fillna_armed} is  most prevalent with count of {n1} out of total {len(dfk.armed.tolist())} records")
# replace all NaN items in flee column
dfk.armed.fillna(fillna_armed, inplace = True)

 under 'armed' column, gun is  most prevalent with count of 1398 out of total 2535 records

In [30]:
## Now we have taken care of of all missing data in our killing dataframe (dfk)
dfk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2535 entries, 0 to 2534
Data columns (total 14 columns):
id                         2535 non-null int64
name                       2535 non-null object
date                       2535 non-null datetime64[ns]
manner_of_death            2535 non-null category
armed                      2535 non-null object
age                        2535 non-null float64
gender                     2535 non-null category
race                       2535 non-null object
city                       2535 non-null object
state                      2535 non-null object
signs_of_mental_illness    2535 non-null bool
threat_level               2535 non-null category
flee                       2535 non-null object
body_camera                2535 non-null bool
dtypes: bool(2), category(3), datetime64[ns](1), float64(1), int64(1), object(6)
memory usage: 191.0+ KB

In [31]:
## Converting 'flee' and 'race' columns of dfk as Categorical
dfk['flee'] = pd.Categorical(dfk['flee']) # will convert after filling null values
dfk['race'] = pd.Categorical(dfk['race']) # will convert after filling null values

### 2.(e) formatting the city name in census database:

Census data has city name suffixed with a classifier 'CDP', 'city', 'town', 'village'. This classifier need to be stripped off from city name so that we can match/merge with city name in police killing data base

In [32]:
# census data has city name suffixed with a classifier 'CDP', 'city', 'town', 'village'
# this need to be stripped off from city name so that we can match/merge with city name in police killing data base
# please note a space before split string, or else modified city names will have a 'space' after the name
#remove city classifier
classifier = [' CDP', ' city', ' town', ' village']

for word in classifier:
    df_school.City = df_school.City.str.split(word, expand = True)
    df_poverty.City = df_poverty.City.str.split(word, expand = True)
    df_income.City = df_income.City.str.split(word, expand = True)
    df_race.City = df_race.City.str.split(word, expand = True)

In [33]:
# check the resulting dataframes for modified city names
df_school.head()

  state        City  percent_completed_hs
0    AL      Abanda                  21.2
1    AL   Abbeville                  69.1
2    AL  Adamsville                  78.9
3    AL     Addison                  81.4
4    AL       Akron                  68.6

In [34]:
# check how many city names in police killing database do not match the city names in census database
city_census = df_school.City.unique().tolist()
city_k = dfk.city.unique().tolist()

cities_missed =[city for city in city_k if not (city in city_census)]
len(cities_missed)

193

### 2.(f) for cities not found in census database, we would update new entries in census related dataframes:

**(1)** We will take each missed city name, check for its state name from police killing dataframe and then  add a new row in concerned census dataframes. other than city and state names other entries in such rows will be presently kept as NaN

**(2)** We will then update NaN fields for such rows using mean values of the concerned state


#### Race database fields
`City,
state,
share_white,
share_black,
share_native_american,
share_asian,
share_hispanic`

#### School Database fields
`City,
state,
percent_completed_hs`

#### Poverty database fields
`City,
state,
poverty_rate`

####  Income database fields
`City,
state,
median_income`

In [35]:
# # census data has city name suffixed with a classifier 'CDP', 'city', 'town', 'village'
# # this need to be stripped off from city name so that we can match/merge with city name in police killing data base
# # please note a space before split string, or else modified city names will have a 'space' after the name
# #remove city classifier
# classifier = [' CDP', ' city', ' town', ' village']

# for word in classifier:
#     df_school.City = df_school.City.str.split(word, expand = True)
#     df_poverty.City = df_poverty.City.str.split(word, expand = True)
#     df_income.City = df_income.City.str.split(word, expand = True)
#     df_race.City = df_race.City.str.split(word, expand = True)
    
# # check the resulting dataframes for modified city names
# df_school.head()

In [36]:
# check how many city names in police killing database do not match the city names in census database
city_census = df_school.City.unique().tolist()
city_k = dfk.city.unique().tolist()

cities_missed =[city for city in city_k if not (city in city_census)]
len(cities_missed)

193

In [37]:
# Lets make a list of state_missed also corresponding to cities_missed
state_missed = []
for ct in cities_missed:
    st = dfk.state.loc[dfk.city == ct].values[0]
    state_missed.append(st)

len(state_missed)
len(state_missed) == len(cities_missed)

193

True

In [38]:
%%time
# lets update the census dataframes with new rows pertaining to these missing cities
# original records in census dataframes
print (f"Original shape of census dataframes:")
print(f"df_school:{df_school.shape}, df_income:{df_income.shape}, df_poverty:{df_poverty.shape}, df_race:{df_race.shape}\n")

# append rows to dataframes
for i in range (len(cities_missed)):
    df_school = df_school.append({'state':state_missed[i], 'City':cities_missed[i]}, ignore_index = True)
    df_income = df_income.append({'state':state_missed[i], 'City':cities_missed[i]}, ignore_index = True)
    df_poverty = df_poverty.append({'state':state_missed[i], 'City':cities_missed[i]}, ignore_index = True)
    df_race = df_race.append({'state':state_missed[i], 'City':cities_missed[i]}, ignore_index = True)

print (f"Updated shape of census dataframes")
print(f"df_school:{df_school.shape}, df_income:{df_income.shape}, df_poverty:{df_poverty.shape}, df_race:{df_race.shape}")

Original shape of census dataframes:
df_school:(29329, 3), df_income:(29322, 3), df_poverty:(29329, 3), df_race:(29268, 7)

Updated shape of census dataframes
df_school:(29522, 3), df_income:(29515, 3), df_poverty:(29522, 3), df_race:(29461, 7)
Wall time: 2.58 s

In [39]:
# Checking - now we should not have any missing cities
a = df_school.City.unique().tolist()
b = dfk.city.unique().tolist()

c =[city for city in b if not (city in a)]
len(c)

0

In [40]:
df_school.dtypes
df_income.dtypes
df_poverty.dtypes
df_race.dtypes

state                    object
City                     object
percent_completed_hs    float64
dtype: object

state             object
City              object
median_income    float64
dtype: object

state            object
City             object
poverty_rate    float64
dtype: object

state                     object
City                      object
share_white              float64
share_black              float64
share_native_american    float64
share_asian              float64
share_hispanic           float64
dtype: object

In [41]:
# Lets update all census dataframes, filling-in missing values with state mean
print("last 2 rows before updaing NaN values")
df_school.tail(2)
df_income.tail(2)
df_poverty.tail(2)
df_race.tail(2)

df_school.percent_completed_hs.fillna(df_school.groupby('state').percent_completed_hs.transform(np.mean), inplace = True)

df_income.median_income.fillna(df_income.groupby('state').median_income.transform(np.mean), inplace = True)

df_poverty.poverty_rate.fillna(df_poverty.groupby('state').poverty_rate.transform(np.mean), inplace = True)

df_race.share_white.fillna(df_race.groupby('state').share_white.transform(np.mean), inplace = True)
df_race.share_black.fillna(df_race.groupby('state').share_black.transform(np.mean), inplace = True)
df_race.share_asian.fillna(df_race.groupby('state').share_asian.transform(np.mean), inplace = True)
df_race.share_hispanic.fillna(df_race.groupby('state').share_hispanic.transform(np.mean), inplace = True)
df_race.share_native_american.fillna(df_race.groupby('state').share_native_american.transform(np.mean), inplace = True)

print("last 2 rows after updaing NaN values")
df_school.tail(2)
df_income.tail(2)
df_poverty.tail(2)
df_race.tail(2)

last 2 rows before updaing NaN values

      state     City  percent_completed_hs
29520    GA  Bonaire                   NaN
29521    MD  Mt Airy                   NaN

      state     City  median_income
29513    GA  Bonaire            NaN
29514    MD  Mt Airy            NaN

      state     City  poverty_rate
29520    GA  Bonaire           NaN
29521    MD  Mt Airy           NaN

,state,City,share_white,share_black,share_native_american,share_asian,share_hispanic
29459,GA,Bonaire,NaN,NaN,NaN,NaN,NaN
29460,MD,Mt Airy,NaN,NaN,NaN,NaN,NaN

last 2 rows after updaing NaN values

      state     City  percent_completed_hs
29520    GA  Bonaire             79.012500
29521    MD  Mt Airy             88.422481

      state     City  median_income
29513    GA  Bonaire   39781.803954
29514    MD  Mt Airy   78126.496746

      state     City  poverty_rate
29520    GA  Bonaire     23.777404
29521    MD  Mt Airy     10.312209

,state,City,share_white,share_black,share_native_american,share_asian,share_hispanic
29459,GA,Bonaire,62.591534,30.633546,0.300319,1.491534,6.415176
29460,MD,Mt Airy,72.116409,19.463900,0.340927,2.980116,5.931467

In [42]:
## write csv's of our dataframes after completion of Transform phase
dfk.to_csv("../saved_data/csvk_transformed.csv", encoding = 'utf-8', index = False)
df_school.to_csv("../saved_data/csvs_transformed.csv", encoding = 'utf-8',  index = False)
df_income.to_csv("../saved_data/csvi_transformed.csv", encoding = 'utf-8',  index = False)
df_poverty.to_csv("../saved_data/csvp_transformed.csv", encoding = 'utf-8',  index = False)
df_race.to_csv("../saved_data/csvr_transformed.csv", encoding = 'utf-8',  index = False)

# 3. Load Phase

In [43]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, ForeignKey, DateTime, Boolean, Numeric
from sqlalchemy.orm import relationship, backref
from sqlalchemy.orm import sessionmaker


import mysql.connector
from mysqlconfig import passwd

In [44]:
# ## Use below code in 'killing database already exists and you need to delete and recreate'


# engine.execute("use killings")
# data= engine.execute("show tables")
# for item in data:
#     print(item)
    
# engine.execute("drop table income")
# engine.execute("drop table schooling")
# engine.execute("drop table race")
# engine.execute("drop table poverty")
# engine.execute("drop table incidents")
# data= engine.execute("show tables")
# for item in data:
#     print(item)
# engine.execute("drop database killings")

### 3.(a) connect to mysql server using sqlalchemy and create database

In [45]:
engine = create_engine(f"mysql+mysqlconnector://root:{passwd}@127.0.0.1:3306/") 
engine.execute("drop database killings")

engine.execute("CREATE DATABASE IF NOT EXISTS killings") #create db "killings"
engine.execute("USE killings")

### 3.(b) Insert records into MySQL  using pandas `.to_sql()` utility

In [46]:
engine.execute("Use killings")
data= engine.execute("show tables")
for item in data:
    print(item)

In [47]:
%%time
engine.execute("USE killings")
df_school.to_sql('schooling', con = engine, index = False)
df_income.to_sql('income', con = engine, index = False)
df_poverty.to_sql('poverty', con = engine, index = False)
df_race.to_sql('race', con=engine, index=False)
dfk.to_sql('incidents', con = engine, index = False)

Wall time: 23.7 s

In [48]:
engine.execute("USE killings")
data = engine.execute("SHOW TABLES")
for item in data:
    print(item)

('incidents',)
('income',)
('poverty',)
('race',)
('schooling',)

In [49]:
engine.execute("use killings")
data = engine.execute("select * from race limit 5")
print("reading first 5 records from race table")
for item in data:
    print(item)

data = engine.execute("select * from schooling limit 5")
print("reading first 5 records from schooling table")
for item in data:
    print(item)
    
data = engine.execute("select * from income limit 5")
print("reading first 5 records from income table")
for item in data:
    print(item)

data = engine.execute("select * from poverty limit 5")
print("reading first 5 records from poverty  table")
for item in data:
    print(item)
    
data = engine.execute("select * from incidents limit 5")
print("reading first 5 records from incidents  table")
for item in data:
    print(item)

reading first 5 records from race table
('AL', 'Abanda', 67.2, 30.2, 0.0, 0.0, 1.6)
('AL', 'Abbeville', 54.4, 41.4, 0.1, 1.0, 3.1)
('AL', 'Adamsville', 52.3, 44.9, 0.5, 0.3, 2.3)
('AL', 'Addison', 99.1, 0.1, 0.0, 0.1, 0.4)
('AL', 'Akron', 13.2, 86.5, 0.0, 0.0, 0.3)
reading first 5 records from schooling table
('AL', 'Abanda', 21.2)
('AL', 'Abbeville', 69.1)
('AL', 'Adamsville', 78.9)
('AL', 'Addison', 81.4)
('AL', 'Akron', 68.6)
reading first 5 records from income table
('AL', 'Abanda', 11207.0)
('AL', 'Abbeville', 25615.0)
('AL', 'Adamsville', 42575.0)
('AL', 'Addison', 37083.0)
('AL', 'Akron', 21667.0)
reading first 5 records from poverty  table
('AL', 'Abanda', 78.8)
('AL', 'Abbeville', 29.1)
('AL', 'Adamsville', 25.5)
('AL', 'Addison', 30.7)
('AL', 'Akron', 42.0)
reading first 5 records from incidents  table
(3, 'Tim Elliot', datetime.datetime(2015, 2, 1, 0, 0), 'shot', 'gun', 53.0, 'M', 'A', 'Shelton', 'WA', 1, 'attack', 'Not fleeing', 0)
(4, 'Lewis Lee Lembke', datetime.datetime(2015, 2, 1, 0, 0), 'shot', 'gun', 47.0, 'M', 'W', 'Aloha', 'OR', 0, 'attack', 'Not fleeing', 0)
(5, 'John Paul Quintero', datetime.datetime(2015, 3, 1, 0, 0), 'shot and Tasered', 'unarmed', 23.0, 'M', 'H', 'Wichita', 'KS', 0, 'other', 'Not fleeing', 0)
(8, 'Matthew Hoffman', datetime.datetime(2015, 4, 1, 0, 0), 'shot', 'toy weapon', 32.0, 'M', 'W', 'San Francisco', 'CA', 1, 'attack', 'Not fleeing', 0)
(9, 'Michael Rodriguez', datetime.datetime(2015, 4, 1, 0, 0), 'shot', 'nail gun', 39.0, 'M', 'H', 'Evans', 'CO', 0, 'attack', 'Not fleeing', 0)